altair
attrs
biopython
blinker
Brotli
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cycler
fonttools
gitdb
GitPython
h2
hpack
hyperframe
idna
importlib_metadata
importlib_resources
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib==3.10.3
munkres==1.1.4
narwhals
numpy
packaging
pandas
patsy
pillow
pkgutil_resolve_name
protobuf
pyarrow==20.0.0
pycparser
pydeck
pyparsing
PySocks
python-dateutil
pytz
PyYAML
referencing
requests
rpds-py
scipy
seaborn
six
smmap
statsmodels
streamlit
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
zipp
zstandard==0.23.0
